body
{
    font-size: 16px;
    background-color: #
}
.header,
.footer
{
    background-color: #222;
    border-color: #080808;
    min-height: 40px;
    padding: 0 20px;
    line-height: 40px;
    color: #fff;
}

.main
{
    overflow: hidden;

    width: 100%;
    min-height: 800px;
    min-height: calc(100vh - 80px);
}

.main .left-bar
{
    float: left;
    width: 300px;
    margin-bottom: -2000px;
    padding-bottom: 2000px;

    color: #fff;
    background-color: rgba(0,0,0,.5);
}
.main .left-bar h1
{
    line-height: 50px;
    text-indent: 20px;
}
.main .left-bar li
{
    position: relative;

    display: block;

    margin-bottom: -1px;
    padding: 10px 15px;

    cursor: pointer;

    border: 1px solid #ddd;
    background-color: #fff;
}


.main .left-bar li:hover
{
    background-color: #eee;
}
.main .left-bar li a
{
    cursor: pointer;
    text-decoration: none;
}
.main .container
{
    margin-bottom: -2000px;
    margin-left: 300px;
    padding-bottom: 2000px;
    border: 1px solid #ccc;
    text-align: left;
}
.main .container .plugins-box
{
	height: 100%;
	text-align: left;
	padding: 20px 20px 0 20px;
}
.main .container .plugins-box .top-bar
{
	position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
    margin-bottom:20px;
}
.main .container .plugins-box p
{
    line-height: 1.75;
    margin-bottom: 1.2em;
}
.main .container .plugins-box p a
{
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
.main .container .plugins-box pre
{
	display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}
.main .container .plugins-box pre code{
	float: left;
 	padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.main .container .a-wrap,
.main .container .b-wrap,
.main .container .c-wrap
{
    box-sizing: border-box;
    height: 100px;

    border: 1px solid #ccc;
}

.b-wrap
{
    margin-top: 10px;
}

.c-wrap
{
    margin-top: 10px;
    padding: 15px;
}

.btn
{
    line-height: 30px;

    width: 80px;
    height: 30px;

    cursor: pointer;
    text-align: center;

    border-radius: 3px;
}

.btn-submit
{
    color: #fff;
    background-color: blue;
}
